body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: auto;
    background-color: bisque
}
    h1{
        margin: auto;
        text-align: center;
        border-bottom: 1px solid black;
        box-shadow: 2px 2px 2px 2px grey;
        font-size: 2.1em;
        width: 100%;
        background: rgb(242, 209, 242);
    }
    #h31{
        text-align: center;
        font-size: 1.9em;
        border: 1px solid black;
        box-shadow: 2px 2px 2px 2px purple;
        top: 5vh;
    }
    .images{
        width: 40%;
        position: relative;
        float: left;
    }
    .block1{
        margin: 5px 2px;
        position: relative;
        float: left;
    }
    p{
        font-weight: bolder;
        text-align: center;
    }
    p1{
        color: red;
        font-weight: bolder;
    }
    p2{
        font-weight: bolder;
        color: grey;
    }
    p3{
        background-color: purple;
        border-radius: 5px;
        padding: 2px 2px;
        color: white;
        font-weight: bolder;
    }
    h3{
        text-align: center;
        text-decoration: underline;
    }
    h4{
        border-bottom: 3px solid green;
        text-align: center;
        color: green;
    }
    h5{
        font-size: 1em;
        border-bottom: 3px solid green;
        text-align: center;
        color: green;
    }
    p4{
        font-weight: bolder;
    }
    table{
        font-weight: bolder;
        text-align: center;
        margin: 0 auto;
    }
@media only screen and (min-width: 750px ){
    #main{
        width: 80%;
        margin: 0 auto;
        font-size: 1.5em;
    }
    .images{
        width: 20%;
        position: relative;
        float: left;
    }
    .block1{
        margin: 5px 2px;
        position: relative;
        float: left;
    }
    p{
        font-weight: bolder;
        text-align: center;
    }
    p1{
        color: red;
        font-weight: bolder;
    }
    p2{
        font-weight: bolder;
        color: grey;
    }
    p3{
        background-color: purple;
        border-radius: 5px;
        padding: 2px 2px;
        color: white;
        font-weight: bolder;
    }
    h3{
        text-align: center;
        text-decoration: underline;
    }
    h4{
        border-bottom: 3px solid green;
        text-align: center;
        color: green;
    }
    h5{
        font-size: 1em;
        border-bottom: 3px solid green;
        text-align: center;
        color: green;
    }
    p4{
        font-weight: bolder;
    }
    table{
        font-weight: bolder;
        text-align: center;
    }
}
@media only screen and (min-width: 1350px){
    .images{
        width: 15%;
    }
}